html,
body {
  font-family: 'Noto Serif JP', serif;
  font-size: 15px;
  letter-spacing: .05em;
  color: #333;
  scroll-behavior: smooth;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  padding-top: 73px;
}

.section {
  padding: 90px 0;
  scroll-margin-top: 80px;
}

.section:nth-of-type(odd) {
  background-color: #FFFFFF;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

/*--------------------------------
 見出し
---------------------------------*/
.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 40px;
  text-align: center;
  letter-spacing: .05em;
  color: #333;
}

.lead {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 30px;
}

/*ヘッダー*/
.header {
  position: fixed;
  /* 上に固定 */
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  /* 少し透ける白 */
  backdrop-filter: blur(6px);
  /* 背景ぼかし（対応ブラウザのみ） */
  z-index: 1000;
}

.header-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: 700;
  color: #4B2E2B;
  /* コーヒーブラウン */
  letter-spacing: 0.05em;
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-list a {
  font-size: 14px;
  color: #4B2E2B;
  text-decoration: none;
  letter-spacing: 0.1em;
  position: relative;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 1px;
  background: #C19A6B;
  /* ラテ系 */
  transition: width 0.3s;
}

.nav-list a:hover::after {
  width: 100%;
}



/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
  position: relative;
  min-height: 80vh;
  max-height: 90vh;
  background-image: url("../img/skills/mv.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
}


.mv-plate {
  padding: 3rem 5rem;
  margin-left: 300px;
}

.mv-label {
  margin: 0;
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  font-family: 'Noto Sans JP', sans-serif;
  color: #F7F3EF
}

.mv-name {
  margin: 0.4rem 0 0;
  font-size: clamp(2.2rem, 4vw, 3.2rem);
  letter-spacing: 0.08em;
  font-family: 'Playfair Display', serif;
  color: #F7F3EF;
}

@media (max-width: 768px) {
  .mv-plate {
    padding: 1.4rem 2.8rem;
    margin-left: 0;
  }

  .mv-name {
    font-size: 2rem;
  }
}


/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  width: 31.5%;
  margin-right: 2%;
  margin-bottom: 40px;
  color: #333;
}

.works-item:hover {
  opacity: .9;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-img img {
  border: 1px solid #e6e6e6;
  aspect-ratio: 4 / 3;
}

.works-name {
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
  margin-top: 5px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill {
  background-image: url("../img/skills/skill-bg.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 100px 0;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  align-items: flex-start;
  width: 48%;
  margin-bottom: 50px;

  background: rgba(255, 255, 255, 0.75);
  padding: 24px 28px;
  border-radius: 16px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);

  transition: transform 0.2s, box-shadow 0.2s;
}

.skill-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.06);
}

.skill-img {
  width: 48px;
  height: auto;
  margin-right: 20px;
  flex-shrink: 0;
}

.skill-body {
  flex: 1;
}

.skill-name {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #4B2E2B;
  /* コーヒーブラウン */
  letter-spacing: 0.05em;
}


.skill-text {
  font-size: 14px;
  line-height: 1.9;
  color: #3E3A39;
  /* 真っ黒にしない */
}


/*--------------------------------
 About
---------------------------------*/
.about {
  position: relative;
  background-image: url(../img/skills/about-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 50px;
}

.about .container {
  position: relative;
  z-index: 1;
}


.about::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
}

.about .title,
.about p {
  color: #F5F5F5;
}


.profile {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
}

.profile-img {
  width: 20%;
  margin-right: 30px;
  border-radius: 50%;
}

.profile-img img {
  border-radius: 50%;
}

.profile-body {
  flex: 1;
}

.profile-body p {
  font-size: 15px;
  line-height: 1.8;
}

.profile-body p:not(:last-child) {
  margin-bottom: 30px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact {
  text-align: center;
}

.contact-item:not(:last-child) {
  margin-right: 10px;
}

.contact-text {
  margin-top: 10px;
}

/*--------------------------------
 ページトップ
---------------------------------*/
.page-top {
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  padding: 30px;
  background-color: #333;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #797979;
}

/*--------------------------------
 下層：Worksページ
---------------------------------*/
.article {
  padding: 80px 0;
  background-image: url("../img/skills/detail-bg.png");
  background-repeat: repeat; /* 縦横に繰り返す */
  background-size: auto;    /* 画像の実寸で表示 */
}

.article-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}

.article-title {
  margin-bottom: 30px;
  text-align: center;
}

.article-body {
  max-width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.article-body h3 {
  position: relative;
  font-size: 18px;
  margin-bottom: 5px;
  padding-left: 1em;
}

.article-body img {
  width: 100%;
  height: auto;
}

.article-body h3:not(:first-child) {
  margin-top: 50px;
}

.article-body h3::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  content: "";
  border-radius: 3px;
  background-color: #333;
}

.article-body p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.home-link {
  text-align: center;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }

  /* 見出し */
  .title {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .lead {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  /* レイアウト */
  .wrapper {
    padding-top: 57px;
  }

  .section {
    padding: 60px 0;
  }

  .container {
    padding: 0 20px;
  }

  /* ヘッダー */
  .header .container {
    padding: 15px;
  }

  .header-logo {
    font-size: 15px;
    margin-right: 15px;
  }

  .gnav-item:not(:last-child) {
    margin-right: 10px;
  }

  .gnav-item a {
    font-size: 10px;
  }

  .gnav-item a:after {
    display: none;
  }

  /*  メインビジュアル */
  .mv {
    height: 40vh;
  }

  .mv-container {
    padding: 0 20px;
  }

  .mv-title {
    font-size: 30px;
  }

  .mv-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .mv-text {
    top: 75%;
    font-size: 14px;
    line-height: 1.7;
  }

  /* Works */
  .works-name {
    font-size: 12px;
  }

  .works-info {
    margin-top: 3px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-name {
    margin-bottom: 5px;
  }

  .skill-text {
    font-size: 13px;
    line-height: 1.7;
  }

  /* About */
  .profile {
    display: block;
  }

  .profile-img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .profile-body p {
    font-size: 14px;
    line-height: 1.7;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 20px;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }

  /* 下層ページ */
  .article {
    padding: 50px 0;
  }

  .article-body h3 {
    font-size: 16px;
    padding-left: .8em;
  }

  .article-body h3:not(:first-child) {
    margin-top: 30px;
  }

  .article-body p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}